<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Website by Marat Tsasiuk</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
<div class="menu">
  <a href="/main">main page</a>
  <a href="/list">user list</a>
  <a href="/login" class="log-reg">log in</a>
  <a href="/register" class="log-reg">register</a>
    <a th:href="'/list/'+${login}" class="log-reg" th:text="${login}" style="box-shadow: 0 0 0 white;"/>
</div>
<div class="login-register">
    <h1>Register</h1>
    <form action="/register/check" method="post">
        <input type="text" name="username" placeholder="username" required>
        <br/>
        <input type="password" name="password" placeholder="password" required>
        <br/>
        <button type="submit">register</button>
    </form>
    <span th:text="${registerError}"/>
</div>
</body>
</html>